.poll {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.poll-input {
  display: flex;
  justify-content: space-between;
}

.poll-radio {
  margin-right: 0.5rem;
}

.poll-pfps {
  margin-right: 0.5rem;
}

.poll-pfps img {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  margin: 0;
  border-radius: 9999px;
  margin-right: -0.25rem;
}

.poll-count {
  float: right;
}

.poll-meter {
  width: 100%;
}

.poll-submit {
  height: initial !important;
  padding: 0.4rem 0.5rem !important;
}
