<div
  class="my-2 card p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <div class="cardheader">
    <p class="font-semibold dark:text-white text-sm addonName"></p>
    <label class="switch relative inline-flex items-center cursor-pointer">
      <input type="checkbox" value="" class="sr-only peer" />
      <div
        class="toggle w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
      ></div>
    </label>
    <!-- <button id="requestpermission">Request Permission</button> -->
  </div>

  <p
    class="addonDescription dark:text-white mb-3 font-normal text-gray-700 dark:text-gray-400"
  >
    Here are the biggest enterprise technology acquisitions of 2021 so far, in
    reverse chronological order.
  </p>
  <div class="my-3">
    <img class="inline icon" src="../../assets/icons/material-icons/code.svg" />
    <p class="inline dark:text-white">developed by</p>
    <div class="dark:text-white inline addonDevelopers"></div>
    <div class="optionsHeader mt-2">
      <p class="optionsLabel font-semibold mt-2 dark:text-white">Options:</p>
      <img
        class="inline icon optionsExpand"
        src="../../assets/icons/material-icons/expand_more.svg"
      />
    </div>
    <div class="addonOptions mt-2"></div>
  </div>
</div>
