<div class="hoverCard testClass bg-gray-100 dark:bg-gray-800 px-8 mb-4 dark:border-gray-700 rounded-xl" style="
   height: 330px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   width: 392px;
   z-index: 999;
   border-color: #eab308;
   top: 40px;
   border-width: 4px 0px 0px 0px;
   position: absolute;
   "><div class="bg-gray-100 dark:bg-gray-700 px-8 mb-4  dark:border-gray-700 rounded-xl" style="
   height: 250px;
   top: 16px;
   left: 16px;
   z-index: 1;
   /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
   width: 360px;
   /* border-color: #eab308; */
   top: 56px;
   /* border-width: 4px 0px 0px 0px; */
   position: absolute;
   "></div><a aria-current="page" class="userUrl1" style="
    position: relative;
">
    <div class="buffer" style="height:100px; width: 100%; position: absolute; top: -20px;"></div>
   <img class="userBanner" src="https://api.wasteof.money/users/jeffalo/banner" style="
      min-width: 392px;
      border-radius: 10px 10px 0px 0px;
      object-fit: cover;
      height: 116px;
      left: -32px;
      width: 500px;
      filter: brightness(0.38);
      z-index: 0;
      position: absolute;
      ">
   <!-- </a><a href="/posts/64a59a8b5f4b2a0db409b3f4" class="block" style="
      z-index: 99;
      position: relative;
      "></a> -->
   <div class="w-full mt-4 mb-2 pb-1 border-b-2 dark:border-gray-700 font-semibold" style="
      border-color: transparent;
      z-index: 99;
      position: relative;
      ">
      <!-- <a href="/posts/64a59a8b5f4b2a0db409b3f4" class="block"></a> -->
      <a href="#" class="userUrl1">
         <a style="
    position: absolute;
    left: 225px;
    width: 110px;
    top: 60px;
    height: 40px;
"></a>
         <button class="followButton text-white text-center font-bold p-2 h-10 rounded-lg cursor-pointer bg-primary-500" data-v-6242d9e8="" style="
            position: absolute;
            left: 230px;
            width: 95px;
            top: 60px;
            ">
            <span class="inline-block md:hidden">
               <span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="inline h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                     <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path>
                  </svg>
               </span>
            </span>
            <span class="hidden sm:inline">Follow</span> 
         </button>
         <img src="https://api.wasteof.money/users/jeffalo/picture" alt="jeffalo's profile picture" class="userPfp h-8 inline-block bg-white dark:border-gray-700 rounded-full" style="
            width: 100px;
            border-color: darkgrey;
            height: 100px;
            border-width: 3.5px;
            position: absolute;
            left: -12px;
            "><div class="userOnlineDot absolute top-0 right-0 h-6 w-6 my-1 border-4 rounded-full bg-green-400 z-2" data-v-6242d9e8="" style="
    left: 64px;
    top: 64px;
"></div>
             <span class="userUsername ml-1 inline-block theme-yellow" style="
            top: 104px;
            font-size: 15px !important;
            position: absolute;
            font-size: 17px;
            left: -4px;
            ">
         @jeffalo
         </span><p class="userFollowingMe" style="
    position: absolute;
    font-size: 14px;
    top: 132px;
    color: var(--primary-200);
">Follows you
         </p> 
         <span title="Verified" class="userVerified inline-block text-primary-500 dark:text-primary-300" data-v-6242d9e8="" style="
            left: 25px;
            top: 164px;
            position: absolute;
            ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
               <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
         </span>
         <span title="Admin" class="userAdmin inline-block text-primary-500 dark:text-primary-300" data-v-6242d9e8="" style="
            position: absolute;
            top: 164px;
            left: 0px;
            ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
               <path fill-rule="evenodd" d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
         </span>
         <!---->
         <span class="userJoined block mb-2 secondary-text italic" style="
            position: absolute;
            top: 192px;
            font-size: 14px;
            left: 3px;
            display: inline;
            ">
            Joined 2 years ago<span class="cursor-pointer"></span> <!---->
         </span>
         <svg xmlns="http://www.w3.org/2000/svg" class="userBeta h-5 w-5" viewBox="0 0 20 20" style="
            position: absolute;
            top: 164px;
            left: 50px;
            " fill="#a5b4fc">
            <path fill-rule="evenodd" d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z" clip-rule="evenodd"></path>
         </svg>
      </a>
   </div>
   <!----> 
   <div class="mt-3 mb-5" style="
      border-top: none;
      z-index: 99;
      position: relative;
      ">
      <p class="userBio" 
        style="
         font-size: 14px;
         position: absolute;
         left: 135px;
         top: 92px;
         width: 196px;
         margin-bottom: 16px;
         ">creator of wasteof.money (very cool) (my real name isn't actually jeffalo)</p>
      
      <div class=" select-none" style="
         margin-top: 16px;
         display: inline;
         ">   <span class="mr-2 userFollowers" style="
         font-size: 14px;
         position: absolute;
         top: 195px;
         left: 132px;
         margin-top: 16px;
         ">702 Followers</span>   </div>
      <div class="select-none" style="
         margin-top: 16px;
         display: inline;
         ">   <span class="mr-2 userFollowing" style="
         position: absolute;
         top: 195px;
         font-size: 14px;
         left: 226px;
         margin-top: 16px;
         ">92 Following</span>   </div>
      <a href="/users/jeffalo/wall" class="userWallUrl inline-block whitespace-nowrap bg-white hover:bg-gray-50 dark:bg-gray-900 transition font-bold text-primary-500 dark:text-primary-300 px-4 py-2 my-1 rounded" data-v-6242d9e8="" style="
    position: absolute;
    top: 200px;
">
         <span data-v-6242d9e8="">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" viewBox="0 0 20 20" fill="currentColor">
               <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z"></path>
               <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z"></path>
            </svg>
         </span>
         <span data-v-6242d9e8="">Wall</span> 
         <span data-v-6242d9e8="">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" viewBox="0 0 20 20" fill="currentColor">
               <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
         </span>
      </a>
   </div>
   <div class="v-portal" style="display: none;"></div>
</div>
